torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1
pandas
matplotlib
scikit-learn
scipy
jupyter-client
ipykernel
ipython
requests
tqdm
numpy==1.26.4
albumentations==2.0.7
opencv-python-headless==4.11.0.86
pillow==11.2.1
protobuf==6.31.0
pydantic==2.11.4
streamlit==1.45.1
